<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospa Slider</title>
    <link rel="stylesheet" href="components/slider/slider.css">
</head>
<body>

    <section id="image-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__track">
            <ul class="splide__list" id="splide_list">
              
            </ul>
        </div>
    </section>

</body>
</html>



