<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospa service</title>
     <link rel="stylesheet" href="components/service-section/service.css">
</head>
<body>

    <div id="service-section">
        <div class="container p-0">
            <div class="row section-title-row">
                <div class="col-xl-7 section-title text-center mx-auto">
                    <span  class="sub-heading">our services</span>
                    <h2>we serve in different <b>areas for our patients</b></h2>
                </div>
            </div>
            <div class="row" id="service-card-section">
                
            </div>
        </div>
    </div>

</body>
</html>
