<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospa Doctor Section</title>
    <link rel="stylesheet" href="components/doctor-information-section/doctor-information.css">
</head>
<body>

    <div id="doctor-info-section">
        <div class="container p-0">
            <div class="row section-title-row">
                <div class="col-xl-6 section-title text-center mx-auto">
                    <span class="sub-heading">doctors</span>
                    <h2>
                        our experts doctors 
                        <b>for the patients</b>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12  mx-auto">
                    <ul class="doctor-tab">
                        <li class="tab-items"><a href="#cardiologist" class="tab-links active" data-role="cardiologist">cardiologist</a></li>
                        <li class="tab-items"><a href="#orthopedist" class="tab-links" data-role="orthopedist">orthopedist</a></li>
                        <li class="tab-items"><a href="#nutritionist" class="tab-links" data-role="nutritionist">nutritionist</a></li>
                        <li class="tab-items"><a href="#gynocologist" class="tab-links" data-role="gynecologist">gynocologist</a></li>
                    </ul>

                    <div class="swiper">
                        <div class="swiper-wrapper" id="swiper-wrapper"></div>
                        <div class="custom-button-prev">
                            <i class="ti ti-arrow-left"></i>
                        </div>
                        <div class="custom-button-next">
                            <i class="ti ti-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



