<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospa Footer CopyRight</title>
</head>
<body>

    <div class="copyright-section">
        <div class="container p-0">
            <div class="row">
                <div class="col-md-12 text-center footer-copyright p-0">
                    <span>&copy; hospa</span>
                    All Rights Reserved by <a href="https://github.com/CuriGenius-LAB">WasiqAli</a>
                </div>
            </div>
        </div>
    </div>
    
    <button class="back-to-top"><i class="ti ti-arrow-up"></i></button>

</body>
</html>